/* Game Best Played Via PC */

body {
    margin: 0;
    padding: 0;
    background-color: rgb(215, 215, 215);
    scroll-behavior: smooth;
    /* align-items: center; */
}

.container {
    font-family: Arial, Helvetica, sans-serif; 
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    z-index: 999;
    background-color: rgb(46, 46, 80);
    backdrop-filter: blur(10px);
}

.head-left{
    display: flex;
    align-items: center;
    
}

.head-left img{
    width: 69px;
    height: 53px;
    margin-right: 10px;
}

.head-left button{
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.head-left button:hover {
    opacity: 0.7;
    
}

.head-right {
    display: flex;
}

.head-right a{
    text-decoration: none;
    /* padding-left was originally 25px but I want to increase it to space out the text more */
    padding-left: 80px;
    color: white;
    /* font-size was originally 15px but I might increase it */
    font-size: 30px;
}

.hall-of-fame-middle {
    position: relative;
    top:100px;
    text-align: center;
}

.hall-of-fame-middle h1 {
    font-size: 40px;
}

a {
    text-decoration: none;
    /* color: var(--login-color); */
}
a:hover {
    text-decoration: underline;
}

.scrollable-table {
    height: 370px;
    width: 600px;
    /* overflow-y makes only the y coordinates scrollable */
    overflow-y: auto;
    /* background-color: #7f2e2e; */
    scroll-snap-type: y mandatory;
    position: relative;
    left: 50%;
    translate: -50%;
}

/* Scrollable table class takes precedence over table class
table takes up the full width of it's parent the scrollable table */
.scrollable-table > .table {
    width: 100%
}

.table {
    /* border-collapse:collapse; */
    font-size: 10px;
    width: 400px;
}
/*  */
.table th {
    background-color: #6085fffe;
    color: #ffffff;
    font-size: 20px;
    text-align: left;
    position: sticky;
    top: 0px;
    /* justify-content: center;
    align-items: center; */
}

.table th,
.table td {
    padding: 6px 8px;
    font-weight: normal;
    font-size: 15px;
}

.table tr {
    scroll-snap-align: start;
}

/* Background color for every even row (opposite of odd rows) */
.table tbody tr:nth-of-type(even) {
    background-color: #a7a7a7;
}