/* Game Best Played Via PC */

body {
    margin: 0;
    padding: 0;
    background-color: rgb(215, 215, 215);
    scroll-behavior: smooth;
    /* align-items: center; */
}

.container {
    font-family: Arial, Helvetica, sans-serif; 
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    z-index: 999;
    background-color: rgb(46, 46, 80);
    backdrop-filter: blur(10px);
}

.head-left{
    display: flex;
    align-items: center;
    
}

.head-left img{
    width: 69px;
    height: 53px;
    margin-right: 10px;
}

.head-left button{
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.head-left button:hover {
    opacity: 0.7;
    
}

.head-right {
    display: flex;
}

.head-right a{
    text-decoration: none;
    /* padding-left was originally 25px but I want to increase it to space out the text more */
    padding-left: 80px;
    color: white;
    /* font-size was originally 15px but I might increase it */
    font-size: 30px;
}

a {
    text-decoration: none;
    /* color: var(--login-color); */
}
a:hover {
    text-decoration: underline;
}


#myCanvas {
    position: fixed;
    left: 0px;
    top: 86px;
    border: 1px solid #000000;
    background-color: #020202;
}

.bibletar-text {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 0px;
    /* z index pushs it forward 1 layer */
    z-index: 2;
    font-size: 60px;
    text-align: center;
    color:#ffe600;
    font-weight: bolder;
    text-shadow: -7px 7px #060606;
}

.boy-or-girl {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 350px;
    /* z index pushs it forward 1 layer */
    z-index: 3;
    font-size: 60px;
    text-align: center;
    color:#020202;
    font-weight: bolder;
    /* text-shadow: -7px 7px #060606; */
    display: no
}


#bibletar_page_1_text {
    display: block;
}


/* .bibletar-text p {
    top: -200px;
} */