/* Game Best Played Via PC */

body {
    margin: 0;
    padding: 0;
    background-color: rgb(215, 215, 215);
    scroll-behavior: smooth;
    /* align-items: center; */
}

.container {
    font-family: Arial, Helvetica, sans-serif; 
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    z-index: 999;
    background-color: rgb(46, 46, 80);
    backdrop-filter: blur(10px);
}

.head-left{
    display: flex;
    align-items: center;
    
}

.head-left img{
    width: 69px;
    height: 53px;
    margin-right: 10px;
}

.head-left button{
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.head-left button:hover {
    opacity: 0.7;
    
}

.head-right {
    display: flex;
}

.head-right a{
    text-decoration: none;
    /* padding-left was originally 25px but I want to increase it to space out the text more */
    padding-left: 80px;
    color: white;
    /* font-size was originally 15px but I might increase it */
    font-size: 30px;
}

a {
    text-decoration: none;
    /* color: var(--login-color); */
}
a:hover {
    text-decoration: underline;
}


#myCanvas {
    position: fixed;
    left: 0px;
    top: 86px;
    border: 1px solid #000000;
    background-color: #020202;
}

.bibletar-text {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 0px;
    /* z index pushs it forward 1 layer */
    z-index: 2;
    font-size: 60px;
    text-align: center;
    color:#ffe600;
    font-weight: bolder;
    text-shadow: -7px 7px #060606;
}

.boy-or-girl {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 50px;
    /* z index pushs it forward 1 layer */
    z-index: 3;
    font-size: 60px;
    text-align: center;
    color:#020202;
    font-weight: bolder;
    /* text-shadow: -7px 7px #060606; */
    /* display: inline-block; */
    /* display: block; */
    /* padding-left: 100px; */
    /* TRBL: Top, Right, Bottom, Left */
    /* padding: 0px 0px 0px 200px;  */
    display: flex;
    gap: 80px;
    left: 400px;
    max-width: 900px;
    overflow-x: hidden;
}

#bibletar_girl_or_boy {
    visibility: visible;
}

#bibletar_girl_or_boy img {
    border-style: groove;
    border-color: #908f8f;
    border-width: 10px;
    /* border-style: */

}

#bibletar_page_1_text {
    display: block;
    visibility: visible;
}


/* .bibletar-text p {
    top: -200px;
} */



.scrollable-table {
    height: 500px;
    width: 300px;
    aspect-ratio: 1 / 1;  
    /* overflow-y makes only the y coordinates scrollable */
    overflow-y: auto;
    /* background-color: #7f2e2e; */
    scroll-snap-type: y mandatory;
    position: fixed;
    left: 200px;
    /* translate: -50%; */
    z-index: 1;
    top: 175px;
    background-color: #e0dada;
    display: grid;
    grid-template-columns: 30% 70%;
}

/* Scrollable table class takes precedence over table class
table takes up the full width of it's parent the scrollable table */
.scrollable-table > .table {
    width: 100%
}

.table {
    /* border-collapse:collapse; */
    font-size: 10px;
    /* width: 300px; */
}
/*  */
.table th {
    background-color: #090909fe;
    color: #ffffff;
    font-size: 20px;
    text-align: left;
    position: sticky;
    top: 0px;
    /* justify-content: center;
    align-items: center; */
}

.table th {
    padding: 2px 6px;
    font-weight: normal;
    font-size: 15px;
    border-collapse: collapse
}
.table td {
    /* top right bottom left */
    padding: 20px 20px 20px 20px;
    font-weight: normal;
    font-size: 15px;
    border: 5px solid rgb(113, 111, 111); 
    text-align: center;
}

.table tr {
    scroll-snap-align: start;
}

/* Background color for every even row (opposite of odd rows) */
/* .table tbody tr:nth-of-type(even) {
    background-color: #a7a7a7;
} */

#bibletar_designs {
    display:none;
}

#boy_hair {
    visibility:visible;
}
#girl_hair {
    visibility:visible;
}


#choose_bibletar_stuff {
    display: none;
}



/* scrollable table for Background pictures */
.scrollable-table-background {
    height: 500px;
    width: 450px;
    aspect-ratio: 1 / 1;  
    /* overflow-y makes only the y coordinates scrollable */
    overflow-y: auto;
    /* background-color: #7f2e2e; */
    scroll-snap-type: y mandatory;
    position: fixed;
    left: 510px;
    /* translate: -50%; */
    z-index: 1;
    top: 175px;
    background-color: #fbfbfb;
    display: grid;
    grid-template-columns: 30% 70%;
    border: 6px solid black;
    border-radius: 3%;
}

/* Scrollable table class takes precedence over table class
table takes up the full width of it's parent the scrollable table */
.scrollable-background > .table-background {
    width: 100%
}

.table-background {
    /* border-collapse:collapse; */
    font-size: 10px;
    width: 300px;
    /* border-collapse: collapse;
    border: 2px;
    border-color: #000000; */
}
/*  */
.table-background th {
    background-color: #6085fffe;
    color: #ffffff;
    font-size: 20px;
    text-align: left;
    position: sticky;
    top: 0px;
    /* justify-content: center;
    align-items: center; */
}

.table-background th {
    padding: 2px 6px;
    font-weight: normal;
    font-size: 15px;
    border-collapse: collapse
}
.table-background td {
    /* top right bottom left */
    /* padding: 20px 20px 20px 20px; */
    font-weight: normal;
    /* font-size: 15px;
    border: 1px solid black;  */
}

.table-background tr {
    scroll-snap-align: start;
}

/* table{
    border-collapse: collapse;
    border: 2px;
    border-color: #000000;
    border: 1px solid black;
} */

/* SHOP PAGE */
#shop_page_background {
    display: none;
    z-index: 1;
    position: fixed;
    left: 200px;
    top: 177px;
}

#choose_shop_stuff {
    display: none;
}


.scrollable-table-shop {
    /* height was originally 190px */
    height: 220px;
    width: 1145px;
    aspect-ratio: 1 / 1;  
    /* overflow-y makes only the y coordinates scrollable */
    overflow-x: auto;
    /* background-color: #7f2e2e; */
    scroll-snap-type: x mandatory;
    position: fixed;
    left: 200px;
    /* translate: -50%; */
    z-index: 2;
    top: 590px;
    background-color: #fbfbfb;
    display: grid;
    grid-template-columns: 30% 70%;
    border: 6px solid black;
    border-radius: 3%;
}

/* Scrollable table class takes precedence over table class
table takes up the full width of it's parent the scrollable table */
.scrollable-shop > .table-shop {
    width: 100%
}

.table-shop {
    /* border-collapse:collapse; */
    font-size: 10px;
    width: 300px;
    /* border-collapse: collapse;
    border: 2px;
    border-color: #000000; */
}
/*  */
.table-shop th {
    background-color: #6085fffe;
    color: #ffffff;
    font-size: 20px;
    text-align: left;
    position: sticky;
    top: 0px;
    left:0px;
    /* justify-content: center;
    align-items: center; */
}

.table-shop th {
    padding: 2px 6px;
    font-weight: normal;
    font-size: 15px;
    border-collapse: collapse
}
.table-shop td {
    /* top right bottom left */
    padding: 20px 20px 20px 20px;
    font-weight: normal;
    /* font-size: 15px;
    border: 1px solid black;  */
    font-size:large;
}

.table-shop tr {
    scroll-snap-align: start;
}

#choose_shop_stuff #try_bibletar_stuff button{
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    background-color:#a3a3a3;
    color: #000000;
}

#choose_shop_stuff #buy_bibletar_stuff button{
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    background-color:#09c736;
    color: #000000;
}

#choose_shop_stuff button:hover {
    opacity: 0.5;
    
}

.table-shop tbody .second_layer_shop_table td:nth-of-type(even) {
    background-color: #ffa5a5;
}