
body {
    margin: 0;
    padding: 0;
    background-color: rgb(215, 215, 215);
    scroll-behavior: smooth;
}

.container {
    font-family: Arial, Helvetica, sans-serif; 
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    z-index: 999;
    background-color: rgb(46, 46, 80);
    backdrop-filter: blur(10px);
}

.head-left{
    display: flex;
    align-items: center;

}

.head-left img{
    width: 69px;
    height: 53px;
    margin-right: 10px;
}

.head-left button{
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.head-left button:hover {
    opacity: 0.7;

}

.head-right {
    display: flex;
}

.head-right a{
    text-decoration: none;
    /* padding-left was originally 25px but I want to increase it to space out the text more */
    padding-left: 100px;
    color: white;
    /* font-size was originally 15px but I might increase it */
    font-size: 30px;
}

.quickfo-section {
    position:relative;
    top: 90px;
    /* Gets my words in the middle at the origin */
    left: 50%;
    translate: -3%;
    /* overflow: hidden; */
    font-size: 20px;
}

.quickfo-info{
    /*z-index moves forwards or backward however many layers you want depending on whether the number is
    positive or negative*/
    z-index: 1;
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    /* Accounts for the x-axis in the middle of the origin by shifting it over a bit */
    translate: -47%;
}

.wrapper {
    position: relative;
    top: 150px;
    left: 50%;
    translate: -20%;
}

/* It is important to note how to you position relative and absolute, absolute sets the child element relative
to the parent assuming the parent is position relative */