/* Game Best Played Via PC */
:root {
    --accent-color: #0e004042;
    /* I want it to be transparent for now */
    /* --base-color: white; */
    --text-color: #2E2B41;
    --input-color: #F3F0FF;
    --icon-color: white;
    --login-color: rgb(72, 9, 72);
}

body {
    margin: 0;
    padding: 0;
    /* background-color: rgb(215, 215, 215); */
    background-image: url(./images/bibleio_nostalgia.png);
    background-size:cover;
    background-size: 80rem;
    background-position-y: 5rem;
    
    scroll-behavior: smooth;
    /* align-items: center; */
}

/* * { box-sizing: border-box;} */

.container {
font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 2rem; */
  /* padding: 1rem; */
  overflow-x: hidden;
  background-color: rgba(252, 251, 251, 0.95);
}

.container div p {
    gap: 15px;
}


header {
    position: static;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 1rem; */
    z-index: 2;
    /* originally 10px 40px */
    padding: 10px 30px;
    /* background-color: rgb(46, 46, 80); */
    background: linear-gradient(180deg, #0a1899, #023a7f);
    backdrop-filter: blur(10px);
    box-shadow: inset 1px 1px 13px #060606;
}

.head-left{
    display: flex;
    align-items: center;
    color:#ffffff;
    /* color: hsl(63, 100%, 50%); */
    min-width:fit-content;
    font-weight: bolder;
    font-size: 30px;
    /* background-color: rgba(254, 254, 255, 0.1); */
    background: linear-gradient(180deg, #0b0b0b, #b6b7b7);
    padding: 0px 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 5px groove black;
    /* right or left, down or up, blur radius, color, you can also add more than one shadow */
    box-shadow: inset 1px 1px 20px #060606;
    text-shadow: 2px 2px 3px rgb(8, 8, 8);
    /* place-items: center; */
    place-self: center;
    overflow:hidden;
}


.head-left:hover {
    filter: brightness(150%);
    cursor: pointer;
}

.head-left img{
    width: 69px;
    /* height: 53px; */
    margin-right: 10px;
}

.head-left img:hover {
    filter: brightness(120%);
}

.head-right {
    display: flex;
}

.head-right a{
    text-decoration: none;
    /* padding-left was originally 25px but I want to increase it to space out the text more */
    padding: 10px 40px 10px 40px;
    color: white;
    /* font-size was originally 15px but I might increase it */
    font-size: 30px;
    text-shadow: 2px 2px 1px rgb(8, 8, 8);
}

.head-right a:hover {
    /* Make the rounded box appear behind */
    box-sizing: border-box;
    border-radius: 30px 30px 30px 30px;
    border-inline-width: 60px;
    border-color: #776fac;
    width: max(60%, 20px);
    /* background-color: #776fac; */
    background-color: rgba(255, 254, 254, 0.3);
    box-shadow: inset 1px 1px 10px #060606;
    background-position-x: 50px;
}

.head-middle {
    position: static;
    width: min(100%, 80rem);
    margin: 0;
    text-align: center;
}

.head-down {
  position: static;
  width: min(100%, 80rem);
  margin: 0;
  text-align: left;
  text-indent: 40px;
}

.head-down img {
    /* Helps text flow around the image */
    float: right;
}

.head-down img:hover {
    filter: brightness(120%);
}

.head-down2, .bottom {
    position: static;
    width: min(100%, 80rem);
    margin: 0;
    text-align: center;
}

.bibletar-side-to-side {
    display: flex;
    position: static;
    align-items: center;
    gap: 20px;
}

.bibletar-meme {
    /* Syntax: offset-x | offset-y | blur-radius | spread-radius | color | transparency */
    box-shadow: 0px 0px 3px 20px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    border-radius: 5px 5px;
}

.bibletar-meme img:hover {
    filter: brightness(120%);
    padding: 10px 10px;
}

.bibletar-short-story {
    position: static;
    max-width: 850px;
    text-indent: 40px;
    white-space: pre-wrap;
    overflow-y: auto;
    max-height: 500px;
    box-sizing: border-box;
    border-radius: 20px 20px;
    background-color: rgba(252, 251, 251, 1);
    border: 5px solid #000000;
    padding: 0px 20px;
}
.bibletar-short-story h1 {
    text-align: center;
}

.bibletar-short-story h3 {
    text-align: center;
}

.bibletar-short-story img {
    float: right;
}

/* I'm only redoing the scroll bar here again because I need to round the edges so that
it blends in with the short story rounded edge box display */
.bibletar-short-story::-webkit-scrollbar {
    width: 22px;
}

.bibletar-short-story::-webkit-scrollbar-track {
    background: #807f7f;
    border-radius: 12px;
    border: 2px solid black;
}
.bibletar-short-story::-webkit-scrollbar-track:hover {
    background: #414141;
    /* border-radius: 6px; */
}

.bibletar-short-story::-webkit-scrollbar-thumb {
    background: #5d5c5c;
    border: 3px solid #f8f9f9;
    border-radius: 15px;
    
    /* I created to inner shadow, inset means inside, by default it's set to the outside */
    box-shadow: inset 1.5px 1.5px 1px #282828, inset -1.5px -1.5px 1px #222222;
    
}
.bibletar-short-story::-webkit-scrollbar-thumb:hover {
    background: #efefee;
    border: 3px solid #060606;
    cursor: grabbing;
}

.bibletar-short-story::-webkit-scrollbar-corner {
    background-color: #1a1a1a; 
    border: 1px solid #3f3f3f;
    border-radius: 0px 0px;
}

.special-thanks {
    position: static;
    /* max-width: 1000px; */
    white-space: pre-wrap;
    width: min(100%, 80rem);
    margin: 0;
    text-align: left;
}

a {
    text-decoration: none;
    /* color: var(--login-color); */
}
a:hover {
    text-decoration: underline;
    /* text-decoration-color: #ff9500cc; */
    color: #ffb700;
}

.footer-page {
    background-color: rgba(11, 11, 11, 0.9);
    position: static;
    width: 100%;
}
.footer-text {
    text-align: left;
    white-space: pre-wrap;
    color:#fefefe;
    margin: 0;
    /* width: min(100%, 80rem); */
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px 10px;
}

.footer-text h1 {
    text-align: center;
}

.footer-text p {
    text-align: center;
}

.note-message {
    background-color: #000000;
    max-width: 250px;
    font-size: large;
    color: #fbf9f9;
    padding: 10px 10px;
    border-radius: 20px 20px;

    z-index:2;
    position: fixed;
    bottom: 10px;
    right: 20px;
    text-align: center;
    place-items: center;
    display: flex;
    gap: 10px;
}

.note-message:hover {
    filter: brightness(150%);
    padding: 20px 20px;
    cursor: pointer;
}

/* I hate default scroll bars, they look ugly and are to skinny, so I made my own custom scroll bars */
::-webkit-scrollbar {
    width: 22px;
}

::-webkit-scrollbar-track {
    background: #807f7f;
    /* border-radius: 6px; */
    border: 2px solid black;
}
::-webkit-scrollbar-track:hover {
    background: #414141;
    cursor: pointer;
    /* border-radius: 6px; */
}
::-webkit-scrollbar-thumb {
    background: #5d5c5c;
    border: 3px solid #f8f9f9;
    border-radius: 15px;
    
    /* I created to inner shadow, inset means inside, by default it's set to the outside */
    box-shadow: inset 1.5px 1.5px 1px #282828, inset -1.5px -1.5px 1px #222222;
}
::-webkit-scrollbar-thumb:hover {
    background: #efefee;
    border: 3px solid #060606;
    cursor: grabbing;
}

::-webkit-scrollbar-corner {
    background-color: #1a1a1a; 
    border: 1px solid #3f3f3f;
    border-radius: 0px 0px;
}