/* Game Best Played Via PC */
:root {
    --accent-color: #0e004042;
    /* I want it to be transparent for now */
    /* --base-color: white; */
    --text-color: #2E2B41;
    --input-color: #F3F0FF;
    --icon-color: white;
    --login-color: rgb(72, 9, 72);
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(215, 215, 215);
    scroll-behavior: smooth;
    /* align-items: center; */
}

/* * { box-sizing: border-box;} */

.container {
    font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 2rem; */
  /* padding: 1rem; */
  /* overflow-x: hidden; */
}

.container div p {
    gap: 15px;
}


header {
    position: static;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* gap: 1rem; */
  padding: 10px 40px;
    z-index: 2;
    background-color: rgb(46, 46, 80);
    backdrop-filter: blur(10px);
}

.head-left{
    display: flex;
    align-items: center;
    
}

.head-left p {
    padding-right: 10px;
}

.head-left img{
    width: 69px;
    height: 53px;
    margin-right: 10px;
    padding-left: 10px;
}

.head-left img:hover {
    filter: brightness(120%);
}

.head-left button{
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.head-left button:hover {
    opacity: 0.7;
    
}

.head-right {
    display: flex;
}

.head-right a{

  text-decoration: none;
    /* padding-left was originally 25px but I want to increase it to space out the text more */
    padding-right: 60px;
    color: white;
    /* font-size was originally 15px but I might increase it */
    font-size: 30px;
}
.head-middle,
.head-down,
.head-down2,
.bottom {
  position: static;
  width: min(100%, 70rem);
  margin: 0;
  text-align: center;
}

a {
    text-decoration: none;
    /* color: var(--login-color); */
}
a:hover {
    text-decoration: underline;
    /* text-decoration-color: #ff9500cc; */
    color: #ffb700;
}