/* Game Best Played Via PC */

.loader {
    position: fixed;
    top: 0px;
    left: 0px;
    /* want it to take up the entire screen */
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: #5c5f5d;
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 4;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 10px solid #a3a3a3;
    border-top-color: #a50dd3;
    /* turns it into a circle */
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        /* starting at zero */
        transform: rotate(0turn);
    } to {
        /* ending after 1 turn */
        transform: rotate(1turn);
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(215, 215, 215);
    scroll-behavior: smooth;
    /* align-items: center; */
    overflow: hidden;
}

.container {
    font-family: Arial, Helvetica, sans-serif; 
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    /* originally 10px 40px */
    padding: 10px 30px;
    /* background-color: rgb(46, 46, 80); */
    background: linear-gradient(180deg, #0a1899, #023a7f);
    backdrop-filter: blur(10px);
    box-shadow: inset 1px 1px 13px #060606;
}

.head-left{
    display: flex;
    align-items: center;
    color:#ffffff;
    /* color: hsl(63, 100%, 50%); */
    min-width:fit-content;
    font-weight: bolder;
    font-size: 30px;
    /* background-color: rgba(254, 254, 255, 0.1); */
    background: linear-gradient(180deg, #0b0b0b, #b6b7b7);
    padding: 0px 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 5px groove black;
    /* right or left, down or up, blur radius, color, you can also add more than one shadow */
    box-shadow: inset 1px 1px 20px #060606;
    text-shadow: 2px 2px 3px rgb(8, 8, 8);
    /* place-items: center; */
    place-self: center;
    overflow:hidden;
}


.head-left:hover {
    filter: brightness(150%);
    cursor: pointer;
}

.head-left img{
    width: 69px;
    /* height: 53px; */
    margin-right: 10px;
}

.head-left img:hover {
    filter: brightness(120%);
}

.head-right {
    display: flex;
}

.head-right a{
    text-decoration: none;
    /* padding-left was originally 25px but I want to increase it to space out the text more */
    padding: 10px 40px 10px 40px;
    color: white;
    /* font-size was originally 15px but I might increase it */
    font-size: 30px;
    text-shadow: 2px 2px 1px rgb(8, 8, 8);
}

.head-right a:hover {
    /* Make the rounded box appear behind */
    box-sizing: border-box;
    border-radius: 30px 30px 30px 30px;
    border-inline-width: 60px;
    border-color: #776fac;
    width: max(60%, 20px);
    /* background-color: #776fac; */
    background-color: rgba(255, 254, 254, 0.3);
    box-shadow: inset 1px 1px 10px #060606;
    background-position-x: 50px;
}

.hall-of-fame-middle {
    z-index: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    top:130px;
    text-align: center;
    background-color: rgba(252, 251, 251, 0.9);
    width: 700px;
    place-items: center;
    box-sizing: border-box;
    border-radius: 30px 30px;
    left: 360px;
    padding: 5px 5px;
    border-style: groove;
    border-color: #908f8f;
    border-width: 10px;
    /* border-style: */
    box-shadow: inset 1.5px 1.5px 10px #000000;
    max-height: 660px;
    overflow-y: auto;
}

.hall-of-fame-middle::-webkit-scrollbar {
    width: 22px;
}

.hall-of-fame-middle::-webkit-scrollbar-track {
    background: #807f7f;
    /* border-radius: 6px; */
    border: 2px solid black;
    border-radius: 10px 10px;
}
.hall-of-fame-middle::-webkit-scrollbar-track:hover {
    background: #414141;
    /* border-radius: 6px; */
}

.hall-of-fame-middle::-webkit-scrollbar-thumb {
    background: #5c5d5d;
    border: 3px solid #f8f9f9;
    border-radius: 15px;
    
    /* I created to inner shadow, inset means inside, by default it's set to the outside */
    box-shadow: inset 1.5px 1.5px 1px #282828, inset -1.5px -1.5px 1px #222222;
    
}
.hall-of-fame-middle::-webkit-scrollbar-thumb:hover {
    background: #efefee;
    border: 3px solid #060606;
    cursor: grabbing;
}

.hall-of-fame-middle::-webkit-scrollbar-corner {
    background-color: #1a1a1a; 
    border: 1px solid #3f3f3f;
    border-radius: 0px 0px;
}

.hall-of-fame-middle h1 {
    /* background-color: rgba(28, 226, 244, 0.9); */
    /* background: linear-gradient(135deg, #11998e, #38ef7d); */
    /* background: linear-gradient(0deg, #11998e, #38ef7d); */
    /* gradient color for hall of fame title */
    background: linear-gradient(0deg, #fcf803, #38ef7d);
    /* text-shadow: 2px 2px 20px rgb(243, 232, 18); */
    text-shadow: 2px 2px 3px rgb(10, 10, 10);
    color: #ffffff;
    font-size: 40px;
    box-sizing: border-box;
    border-radius: 10px 10px;
    padding: 5px 50px;
    font-weight: bold;
}

#top-players-text {
    color: #d31e0d;
    font-weight: bold;
}

#sub-title {
    /* background-color: rgba(27, 142, 208, 0.1); */
    /* padding: 5px; */
    text-decoration:none;
}

a {
    text-decoration: none;
    /* color: var(--login-color); */
}
a:hover {
    text-decoration: underline;
    color: #ffb700;
}

.scrollable-table {
    min-height: 370px;
    width: 600px;
    /* overflow-y makes only the y coordinates scrollable */
    overflow-y: auto;
    /* background-color: #7f2e2e; */
    scroll-snap-type: y mandatory;
    position: static;
    /* left: 450px; */
    border: 2px solid #000000;
    /* box-sizing: border-box; */
    border-radius: 5px 5px;

    z-index: 1;
}

/* Scrollable table class takes precedence over table class
table takes up the full width of it's parent the scrollable table */
.scrollable-table > .table {
    width: 100%
}

.table {
    /* border-collapse:collapse; */
    font-size: 10px;
    width: 400px;
}
/*  */
.table th {
    /* background-color: #6085fffe; */
    background: linear-gradient(0deg, #03d2fc, #3853ef);
    color: #ffffff;
    text-align: left;
    position: sticky;
    top: 0px;
    /* justify-content: center;
    align-items: center; */
    box-sizing: border-box;
    border-radius: 2px 2px;
    font-size: 20px;
    font-weight: bold;
}

.table th,
.table td {
    padding: 6px 8px;
    font-weight: normal;
    font-size: 15px;
}

.table tr {
    scroll-snap-align: start;
}

/* Background color for every even row (opposite of odd rows) */
.table tbody tr:nth-of-type(even) {
    background-color: #bdbcbc;
}

.table tbody tr:nth-of-type(odd) {
    background-color: #f8faf9;
}

/* You would think that I would be able to combine these 2 but I can't
because they are not theh same thing, at least the parameters aren't */
.table tr:hover td {
    /* background-color: #8cdeee; */
    background-color: rgba(6, 248, 248, 0.8);
    /* text-decoration: none; */
    cursor: pointer;
}
.table tr:hover {
    filter: brightness(130%);
}

.top-left {
    z-index: 2;
    position: fixed;
    left: 20px;
    /* background-color: rgba(252, 251, 251, 0.9); */
    background: linear-gradient(180deg, #eae9e8, #dededd);
    box-sizing: border-box;
    border-radius: 20px 20px;
    /* top right bottom left */
    padding: 0px 0px 0px 0px;
    max-width: 320px;
    top: 130px;
    place-items: center;
    align-items: center;
    justify-content: center;
    /* Gives the border a nice look */
    border-style: groove;
    border-color: #908f8f;
    border-width: 10px;
    overflow-x: hidden;
    /* box-shadow: inset 1.5px 1.5px 0.3px #000000; */
}

#raising-good-kids {
    translate: -20%;
}

#stats-display {
    text-align: center;
    font-weight: bold;
    /* background: linear-gradient(180deg, #eae9e8, #a4a4a3); */
    /* padding: 10px 120px; */
}
#walking-with-Jesus {
    /* background-color: #614102; */
    background: linear-gradient(180deg, #c18103, #644e05);
    padding: 10px 10px 10px 10px;
    color: #f8f9f8;
    text-align: center;
    text-shadow: 2px 2px 10px rgb(2, 2, 2);
    /* inside the box or outside or none, offset x, offset y, size of shadow, color */
    box-shadow: inset 1.5px 1.5px 20px #000000;
    
}

#walking-with-Jesus-main {
    font-weight: bold;
    font-size: 50px;

}

.top-left img:hover {
    filter: brightness(120%);
}


.bottom-right {
    z-index: 2;
    position: fixed;
    left: 1100px;
    background-color: rgba(252, 251, 251, 0.9);
    box-sizing: border-box;
    border-radius: 20px 20px;
    /* top right bottom left */
    padding: 0px 0px 0px 0px;
    max-width: 400px;
    top: 580px;
    place-self: center;
    place-items: center;
    align-items: center;
    justify-content: center;
    border-style: groove;
    border-color: #908f8f;
    overflow: hidden;
}

#myCanvas {
    position: fixed;
    left: 0px;
    top: 86px;
    border: 1px solid #000000;
    background-color: #030303;
}

/* I hate default scroll bars, they look ugly and are to skinny, so I made my own custom scroll bars */
::-webkit-scrollbar {
    width: 22px;
}

::-webkit-scrollbar-track {
    background: #807f7f;
    /* border-radius: 6px; */
    border: 2px solid black;
}
::-webkit-scrollbar-track:hover {
    background: #414141;
    cursor: pointer;
    /* border-radius: 6px; */
}

::-webkit-scrollbar-thumb {
    background: #5d5c5c;
    border: 3px solid #f8f9f9;
    border-radius: 15px;
    
    /* I created to inner shadow, inset means inside, by default it's set to the outside */
    box-shadow: inset 1.5px 1.5px 1px #282828, inset -1.5px -1.5px 1px #222222;
    
}
::-webkit-scrollbar-thumb:hover {
    background: #efefee;
    border: 3px solid #060606;
    cursor: grabbing;
}

::-webkit-scrollbar-corner {
    background-color: #1a1a1a; 
    border: 1px solid #3f3f3f;
    border-radius: 0px 0px;
}